extends layout 


block content 
 h1= article.title 
 hr
 hr
 h6 Written by #{article.author}.
 br
 br
 p= article.body
 hr
 a.btn.btn-primary(href='/article/edit/'+article._id) Edit 
 a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete